<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938038236717-a4n6lr20d8ds9amaskm3p30reunnpkj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938038236717-a4n6lr20d8ds9amaskm3p30reunnpkj4</string>
	<key>API_KEY</key>
	<string>AIzaSyCl11pXXN62cwNuIVl7JYaoDryS5RdfZBM</string>
	<key>GCM_SENDER_ID</key>
	<string>938038236717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.plugfox.playground</string>
	<key>PROJECT_ID</key>
	<string>playplugfox</string>
	<key>STORAGE_BUCKET</key>
	<string>playplugfox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938038236717:ios:5dc08152edbd1ccc8b8aa4</string>
</dict>
</plist>